.signInText {
    color: #3c4257;
    margin-bottom: 20px;
    font-size: 24px;
  }

.textContainer2 {
    margin-bottom: 20px;
    font-size: 16px;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 150px;
    position: relative;
    z-index: 15;
  }
  
  .textContainer {
    position: absolute;
    top: -75px;
    left: 10px;
  }
  
  .form a {
    text-decoration: none;
    color: #5469d4;
    margin-bottom: 20px;
  }
  
  .signInText {
    color: #3c4257;
    margin-bottom: 20px;
    font-size: 24px;
  }
  
  .forgotPassword {
    position: absolute;
    right: 0;
  }
  
  .errorMessage {
    margin-top: 20px;
    color: #ed5f74;
  }
  
  .custom-shape-divider-bottom-1681245346 {
    z-index: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
  }
  
  .custom-shape-divider-bottom-1681245346 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 600px;
    transform: rotateY(180deg);
  }
  
  .custom-shape-divider-bottom-1681245346 .shape-fill {
    fill: #ffffff;
  }
  
  .filler {
    height: 25svh;
    width: 100%;
    background-color: #fff;
    z-index: 0;
  }
  
  .wrapper {
    background-color: #f7fafc;
    height: 100svh;
    position: relative;
  }
  
  .shapeContainer {
    bottom: 0;
    position: absolute;
    
  }

  .thankYouMessage {
    text-align: center;
    padding-top: 150px;
    display: flex;
    justify-content: center;
  }
  